.dither-container {
  width: 100vw !important;
  height: 100vh !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 0 !important;
  pointer-events: none;
}

.dither-container canvas {
  width: 100vw !important;
  height: 100vh !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  will-change: transform;
  transform: translate3d(0, 0, 0);
}
